.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 2vh 0 0;
    position: relative;
}

.coffee > div {
    color: white;
    background-color: #a66da5;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    gap: 10px;
}

.coffee {
    color: inherit;
    text-decoration: none;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
}
.title {
    text-align: center;
    color: var(--purple);
    font-size: 70px;
    margin: 0;
    user-select: none;
}
.popupContainerLeft {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 0 20px;
}
.popupContainerRight {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin: 0 20px;
}
.popupWrapper {
    height: 6vh;
    width: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tileContainer {
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}

@media (pointer: fine) {
    .coffee:hover {
        position: relative;
        bottom: 0.3vw;
    }

}

@media (max-width: 768px) {
    .title {
        font-size: 48px;
    }
    .tileContainer {
        width: 100%;
    }
}


