.fullscreen {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    z-index: 200;
}
.popup {
    position: fixed;
    border: 2px solid var(--purple);
    padding: 36px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    background-color: var(--background);
    color: white;
    -webkit-box-shadow:0 0 91px 60px rgba(131,4,177,0.39);
    -moz-box-shadow: 0 0 91px 60px rgba(131,4,177,0.39);
    box-shadow: 0 0 91px 60px rgba(131,4,177,0.39);
    z-index: 220;
}
.popup h3 {
    margin: 0;
}
.popupTrigger {
    height: 5vh;
    transition-duration: 0.2s;
}
.apps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    max-width: 25vw;
}

.apps > a > img:hover {
    transform: scale(1.2);
}
.apps > a > img {
     transition-duration: 0.2s;
 }

.steamdb {
    border-radius: 15px;
    background-color: white;
    padding: 0;
    height: 64px;
    width: 64px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    transition-duration: 0.5s;
}

.gameScreen {
    position: fixed;
    border: 2px solid var(--purple);
    border-radius: 10px;
    width: 80vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--background);
    color: white;
    -webkit-box-shadow:0 0 91px 60px rgba(131,4,177,0.39);
    -moz-box-shadow: 0 0 91px 60px rgba(131,4,177,0.39);
    box-shadow: 0 0 91px 60px rgba(131,4,177,0.39);
}
.gameScreen h2 {
    position: absolute;
    top: 10%
}

.gameScreen textarea {
    width: 90%;
    height: 60%;
    background-color: var(--background);
    color: white;
    border-radius: 10px;
}

.gameScreen iframe {
    width: 98%;
    height: 70%;
    border-radius: 10px;
}

.popup h1 {
    position: absolute;
    top: 10%;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    font-size: x-large;
}

.colorInput {
    height: 2em;
    border: none;
    outline: none;
    width: 2em;
    padding: 0;
    border-radius: 50%;
}

.form h2 {
    margin: 0;
}
.form button {
    background-color: var(--background);
    font-family: var(--font-jetbrains) monospace;
    color: white;
    font-size: x-large;
    padding: 0.6ch 1ch;
    border: 2px solid white;
    border-radius: 12px;
}
.button {
    background-color: var(--background);
    font-family: var(--font-jetbrains) monospace;
    color: white;
    font-size: large;
    padding: 0.6ch 1ch;
    border: 2px solid white;
    border-radius: 12px;
}

.popup > form > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.close {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    background-color: var(--background);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--purple);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--purple);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

@media (max-width: 850px) {
    .form button {
        font-size: large;
    }
    .googleApps img {
        height: 40px;
        width: 40px;
        margin: 0 10px;
    }
    .steamdb {
        height: 40px;
        width: 40px;
        margin: 0 10px;
        border-radius: 15px;
    }
}
@media (max-width: 340px) {
    .googleApps img {
        margin: 0 5px;
        height: 20px;
        width: 20px;
    }

    .steamdb {
        margin: 0 5px;
        height: 20px;
        width: 20px;
    }
}
@media (pointer: fine) {
    .popupTrigger:hover {
        cursor: pointer;
        height: 6vh;
    }
    .close {
        cursor: pointer;
    }
    .form button {
        cursor: pointer;
    }
    .button{
        cursor: pointer;
    }
    .googleApps img:hover {
        height: 128px;
        width: 128px;
    }
    .steamdb:hover {
        height: 128px;
        width: 128px;
    }
}